@media screen and (max-width: 1000px) {
  .clock {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .timer,
  .board {
    width: 100%;
  }
  .timer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .timer {
    margin-right: 5%;
  }
}
header {
  height: 40px;
}
main {
  height: 90%;
}

button {
  cursor: pointer;
}

.container {
  height: 100%;
  overflow-y: auto;
}

.content {
  height: 100%;
}

.clock {
  height: 300px;
  display: flex;
  justify-content: center;
}

.timer {
  position: relative;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  color: white;
  border-radius: 50%;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  height: inherit;
}

.board-top,
.board-middle,
.board-bottom {
  margin-left: 5%;
  margin-right: 5%;
  height: 20%;
  width: 90%;
}

.startstop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board-top,
.board-middle {
  margin-bottom: 5%;
}

.board-middle,
.board-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4979730;
  box-sizing: border-box;
  cursor: pointer;
}

.board-top .board-btn:hover,
.board-middle:hover,
.board-bottom:hover {
  background-color: #ffffff31;
}

.board-top {
  display: flex;
  gap: 5%;
  box-sizing: border-box;
}

.board-top .board-btn {
  background-color: #a4979730;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board-bottom {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.symbol {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: 40px;
  transform: rotate(var(--rotation));
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.timer .one {
  --rotation: 45deg;
}
.timer .two {
  --rotation: 90deg;
}
.timer .three {
  --rotation: 135deg;
}
.timer .four {
  --rotation: 180deg;
}
.timer .five {
  --rotation: 225deg;
}
.timer .six {
  --rotation: 270deg;
}
.timer .seven {
  --rotation: 315deg;
}
.timer .eight {
  --rotation: 0deg;
}

.passed {
  color: gold;
}

.pomodoro {
  background-color: #000000;
}

.pause-short {
  background-color: #3464bd;
}

.pause-long {
  animation: rainbow-bg 15s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(189, 2, 2);
  }
  8% {
    background-color: rgb(184, 92, 0);
  }
  16% {
    background-color: rgb(143, 143, 0);
  }
  41% {
    background-color: rgb(0, 158, 79);
  }
  50% {
    background-color: rgb(7, 173, 173);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(158, 2, 158);
  }
  91% {
    background-color: rgb(189, 5, 97);
  }
}
